:root {
  --transition-default: all 300ms ease-in-out;
  --border-color-gray: #dfe4e7;
  --border-color-black: #000000;
  --border-width-none: 0px;
  --border-width-xs: 1px;
  --border-width-sm: 2px;
  --border-width-md: 3px;
  --border-width-lg: 4px;
  --border-width-xl: 5px;
  --border-radius-none: 0px;
  --border-radius-sm: 0.125rem;
  --border-radius-base: 0.25rem;
  --border-radius-md: 0.375rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 0.75rem;
  --border-radius-2xl: 1rem;
  --border-radius-3xl: 1.5rem;
  --border-radius-full: 9999px;
  --color-red: #c40c0c;
  --color-green: #00a860;
  --color-white: #ffffff;
  --color-gray-100: #f5f8fa;
  --color-gray-200: #dfe4e7;
  --color-gray-300: #c5cace;
  --color-gray-400: #5d6165;
  --color-gray-500: #44494b;
  --color-gray-600: #242424;
  --color-black: #000000;
  --duration-immediately: 0.05s;
  --duration-instantly: 0s;
  --duration-paused: 3.2s;
  --duration-promptly: 0.2s;
  --duration-quickly: 0.1s;
  --duration-slowly: 0.4s;
  --grid-gap: 0.75rem;
  --opacity-0: 0;
  --opacity-1: 1;
  --opacity-02: 0.2;
  --opacity-05: 0.5;
  --screen-default: 0px;
  --screen-sm: 501px;
  --screen-md: 769px;
  --screen-lg: 1025px;
  --screen-xl: 1442px;
  --screen-2xl: 2000px;
  --screen-site-max-width: 2000px;
  --spacer-0: 0px;
  --spacer-px: 1px;
  --spacer-6xs: 0.125rem;
  --spacer-5xs: 0.25rem;
  --spacer-4xs: 0.375rem;
  --spacer-3xs: 0.5rem;
  --spacer-2xs: 0.625rem;
  --spacer-xs: 0.75rem;
  --spacer-sm: 0.875rem;
  --spacer-base: 1rem;
  --spacer-md: 1.25rem;
  --spacer-lg: 1.5rem;
  --spacer-xl: 2rem;
  --spacer-2xl: 3rem;
  --spacer-3xl: 4rem;
  --spacer-4xl: 6rem;
  --spacer-5xl: 8rem;
  --spacer-6xl: 12rem;
  --spacer-7xl: 16rem;
  --font-weight-book: 300;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-family-serif: "Geller Headline", Times, serif;
  --font-family-sans: "Halyard Text", Helvetica, Arial, sans-serif;
  --z-index-0: 0;
  --z-index-1: 1;
  --z-index-2: 2;
}
