/*
 * @file
------------------------------------------------------------------------------------------------------------------------
                                         ____    ____         _    _     ___
                                        |_   \  /   _|       / |_ (_)  .' ..]
                                          |   \/   |   .--. `| |-'__  _| |_
                                          | |\  /| | / .'`\ \| | [  |'-| |-'
                                         _| |_\/_| |_| \__. || |, | |  | |
                                        |_____||_____|'.__.' \__/[___][___]
------------------------------------------------------------------------------------------------------------------------
Custom Utilities CSS File
------------------------------------------------------------------------------------------------------------------------
*/

/* Paragraph or section-level spacing. */
/* See the wiki for detailed variations: https://github.com/thinkshout/ts_grid/wiki/Vertical-Spacing*/
.friendly {
  margin-top: var(--spacer-xl);
  margin-bottom: var(--spacer-xl);
  @media (--bp-md) {
    margin-top: var(--spacer-3xl);
    margin-bottom: var(--spacer-3xl);
  }
}
.unfriendly {
  padding-top: var(--spacer-xl);
  padding-bottom: var(--spacer-xl);

  @media (--bp-md) {
    padding-top: var(--spacer-3xl);
    padding-bottom: var(--spacer-3xl);
  }
}

/* GRID: one column on mobile */
@media (--bp-md) {
  .grid-col-2 {
    @apply grid grid-cols-2;
    grid-gap: var(--grid-gap);
  }

  .grid-col-3 {
    @apply grid grid-cols-3;
    grid-gap: var(--grid-gap);
  }
  .grid-col-4 {
    @apply grid grid-cols-4;
    grid-gap: var(--grid-gap);
  }
}

/* Sets the limitations of the full site container. Do not set if you want an*/
/* element to stretch the full width of the site.*/
.site-container {
  margin: 0 auto;
  max-width: 1260px;
}

/* Mobile Padding .*/
.content-side-padding {
  padding-left: var(--grid-gap);
  padding-right: var(--grid-gap);
}

/* Components */
.p-card {
  @apply p-sm md:px-md md:py-lg;
}

.m-card {
  @apply mx-md my-md;
}
