/*
 * Custom Utilities
*/

/* Paragraph or section-level spacing. */
/* See the wiki for detailed variations: https://github.com/thinkshout/ts_grid/wiki/Vertical-Spacing*/

/* Section-level spacing. */
.ts-friendly {
  @apply mb-2xl;
}

.ts-unfriendly {
  @apply mb-2xl;
}

.ts-lovey + .ts-friendly {
  @apply mt-xl;
}

.ts-lovey + .ts-unfriendly {
  @apply mt-2xl;
}

/* GRIDS.
* Add class to wrapper with an inner div for each column.
* See /styleguide#gridlayout for examples.
*/

/* sm:2 col */
.ts-grid-col-2 {
  @apply sm:grid-cols-2 sm:grid sm:gap-md;
}

/* md:3 col */
.ts-grid-col-3 {
  @apply md:grid-cols-3 md:grid md:gap-md;
}

/* sm:3 col, md: 4 col */
.ts-grid-col-4 {
  @apply sm:grid-cols-3 md:grid-cols-4 sm:grid sm:gap-md;
}

/* Mobile Padding .*/
.p-site {
  padding-left: var(--grid-gap);
  padding-right: var(--grid-gap);
}

/* Components */
.p-card {
  @apply px-sm py-sm md:px-md md:py-md;
}

.m-card {
  @apply mx-md my-md;
}

/* Dynamic Text colors change based on the background color */
/* Default colors */
.text-accent {
	color: var(--color-accent);
}
.text-action {
	color: var(--color-action);
}
.text-md-contrast {
	color: var(--color-md-contrast);
}
.text-high-contrast {
	color: var(--color-high-contrast);
}

/* Bg colors that trigger text color change */
.ts-bg-grey-800 {
	@apply bg-grey-800;
}
.ts-bg-white {
	@apply bg-white;
}
.ts-bg-action {
	@apply bg-action;
}

.ts-bg-blue-500 {
	@apply bg-blue-500;
}
.ts-bg-blue-400 {
	@apply bg-blue-400;
}
.ts-bg-blue-100 {
	@apply bg-blue-100;
}
.ts-bg-green-700 {
	@apply bg-green-700;
}
.ts-bg-grey-100 {
	@apply bg-grey-100;
}
.ts-bg-blue-900 {
	@apply bg-blue-900;
}
.ts-bg-white {
	@apply bg-white;
}

/* Text color variables change within bg context */
.ts-bg-blue-900 {
	--color-accent: var(--color-green-100);
	--color-action: var(--color-blue-100);
	--color-high-contrast: var(--color-white);
	--color-md-contrast: var(--color-grey-200);
}
.ts-bg-blue-500 {
	--color-accent: var(--color-blue-100);
	--color-high-contrast: var(--color-white);
	--color-md-contrast: var(--color-grey-200);
}
.ts-bg-blue-400 {
	--color-accent: var(--color-blue-100);
	--color-action: var(--color-blue-100);
	--color-high-contrast: var(--color-white);
	--color-md-contrast: var(--color-grey-200);
}
.ts-bg-green-700 {
	--color-accent: var(--color-blue-100);
	--color-accent: var(--color-blue-100);
	--color-high-contrast: var(--color-grey-200);
	--color-md-contrast: var(--color-grey-200);
}
.ts-bg-white {
	--color-accent: var(--color-blue-500);
	--color-action: var(--color-blue-400);
	--color-high-contrast: var(--color-grey-700);
}
.ts-bg-blue-100 {
	--color-high-contrast: var(--color-blue-500);
	--color-md-contrast: var(--color-blue-500);
}
.ts-bg-grey-100 {
	--color-action: var(--color-blue-400);
	--color-accent: var(--color-green-700);
	--color-high-contrast: var(--color-grey-700);
}

/* SVG FILLS */
/* Uses action color on Podcast svg */
.ts-fill-action svg path {
	fill: var(--color-action);
}

/* Uses high contrast color on svg fill */
.ts-fill-high-contrast svg path {
	fill: var(--color-high-contrast);
}
/* Uses low contrast color on svg fill */
.ts-fill-md-contrast svg path {
	fill: var(--color-md-contrast);
}
/* Uses low contrast color on svg fill */
.ts-fill-low-contrast svg path {
	fill: var(--color-low-contrast);
}