{# Global Style Guide available at /styleguide #}
{{ attach_library('ts_motif/styleguide') }}

<div class="relative">
  {# Menu#}
  <div class="styleguide-nav">
    <div class="py-3xl text-grey-dk">
      <h1 class="h2 px-md pt-xs">Styleguide</h1>
      <div class="">
        <p class="mt-zero mb-sm px-md pt-xs"><em>Reusable styles using classes (sass/global)</em></p>
        <ul>
          <li><a href="#fontstyles" class="body-md font-bold pl-sm py-xs">Typography</a></li>
          <ul>
            <li><a href="#fontmodifiers" class="body-sm pl-lg py-xs">Color / Weight modifiers</a></li>
          </ul>
          <li><a href="#bg" class="body-md pl-sm py-xs">Background colors</a></li>
          <li><a href="#linkstyles" class="body-md font-bold pl-sm py-xs">Buttons & links</a></li>
          <li><a href="#gridlayout" class="body-md font-bold pl-sm py-xs">Layout</a></li>
          <ul>
            <li><a href="#gridlayout" class="body-sm pl-lg py-xs">Grid</a></li>
            <li><a href="#width" class="body-sm pl-lg py-xs">Width</a></li>
            <li><a href="#display" class="body-sm pl-lg py-xs">Layout utilities</a></li>
          </ul>
          <li><a href="#spacing" class="body-md font-bold pl-sm py-xs">Spacing</a></li>
          <ul>
            <li><a href="#spacing" class="body-sm pl-sm pl-lg py-xs">Variables</a></li>
            <li><a href="#marginpadding" class="body-sm pl-lg py-xs">Margin & Padding</a></li>
          </ul>
          <li><a href="#commoncss" class="body-md pl-sm py-xs">Utilities</a></li>
          <hr class="my-md">
          <li><a href="#forms" class="body-sm pl-lg py-xs">Forms</a></li>
          <li><a href="#wysiwygstyles" class="body-sm pl-lg py-xs">Text Editor and
              Components</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="styleguide-menu-padding">
    <div class="p-site ts-friendly">
      {# Typography styles, displays as 2-up section #}
      {% include('@ts_motif/_includes/styleguide_sections/typography-styles.html.twig') %}
    </div>

    {# Common Variations, 2-up section #}
    <div class="ts-friendly">
      <div class="p-site">
        <div>
          {# Dynamic Typography color styles #}
          {% include('@ts_motif/_includes/styleguide_sections/font-weights.html.twig') %}
        </div>
      </div> {# Closes .container.p-site #}
    </div>

    <div class="ts-friendly">
      <div class="container p-site">
        {# Color Swatches #}
        {% include('@ts_motif/_includes/styleguide_sections/color-swatches.html.twig') %}
        {# Background colors #}
        {% include('@ts_motif/_includes/styleguide_sections/color-bg.html.twig') %}
      </div> {# Closes .container.p-site #}
    </div>

    <div class="ts-friendly">
      <div class="container p-site">
        {# Buttons & Links #}
        {% include('@ts_motif/_includes/styleguide_sections/btn-link-styles.html.twig') %}
      </div> {# Closes .container.p-site#}
    </div>

    {# Layout #}
    <div class="ts-friendly">
      <div class="container p-site">
        {# Grid layouts #}
        {% include('@ts_motif/_includes/styleguide_sections/layouts.html.twig') %}
      </div> {# Closes container#}
    </div>

    <div class="ts-friendly">
      <div class="container p-site">
        {# Spacers: visual of all sizes #}
        {% include('@ts_motif/_includes/styleguide_sections/spacer-visual.html.twig') %}
      </div>
    </div>

    <div class="ts-friendly">
      <div class="container p-site">
        {# Spacers: Variable Options #}
        {% include('@ts_motif/_includes/styleguide_sections/spacer-variable-options.html.twig') %}
        {# Spacers: Margin Size Options #}
        {% include('@ts_motif/_includes/styleguide_sections/spacer-margin-visual.html.twig') %}
      </div>
    </div>

    <div class="ts-friendly">
      <div class="container p-site">
        {# COMMON TAILWIND UTILITIES #}
        {% include('@ts_motif/_includes/styleguide_sections/utilities-common.html.twig') %}
      </div>
    </div>
  </div>

  {% include('@ts_motif/_samples/sample-forms.html.twig') %}
  {% include('@ts_motif/_samples/sample-wysiwyg.html.twig') %}
  {% include('@ts_motif/_samples/sample-pagination.html.twig') %}
  
  <div class="container p-site">
    {#   <h2 class="inline h1" id="samplecomponents">Sample Paragraphs</h2>#}
  </div>

</div>
</div>
