{# Starter Patterns available at /patterns #}

{%
  set patterns = [
  'sample-2-up',
  'sample-3-up',
]
%}

<div>
  <h2 class="h2 lg:container p-site mb-2xl text-high-contrast">Sample patterns</h2>
  {% for pattern in patterns %}
    {% include("@ts_motif/_patterns/" ~ pattern ~ ".html.twig") with { bg_color: 'ts-bg-white' } %}
    {% include("@ts_motif/_patterns/" ~ pattern ~ ".html.twig") with { bg_color: 'ts-bg-grey-800 py-2xl'} %}
  {% endfor %}
</div>
