{# Layouts
 *
#}

<div class="" id="gridlayout">
  <h2 class="h2 mb-xs">Layout</h2>
  <p class="body-lg m-zero">assets/css/base/utilities.css</p>
  <hr class="mt-sm mb-sm">
</div>
<h3 class="h3 mt-md mb-sm">Grid</h3>
<h3 class="body-sm my-sm">Wrapped in ts-grid-col-2</h3>
<div class="ts-grid-col-2">
  <div class="bg-grey-300 p-card"></div>
  <div class="bg-grey-300 p-card"></div>
</div>
<h3 class="body-sm my-sm">Wrapped in ts-grid-col-3</h3>
<div class="ts-grid-col-3">
  <div class="bg-grey-300 p-card"></div>
  <div class="bg-grey-300 p-card"></div>
  <div class="bg-grey-300 p-card"></div>
</div>
<h3 class="body-sm my-sm">Wrapped in .ts-grid-col-4</h3>
<div class="ts-grid-col-4">
  <div class="bg-grey-300 p-card"></div>
  <div class="bg-grey-300 p-card"></div>
  <div class="bg-grey-300 p-card"></div>
  <div class="bg-grey-300 p-card"></div>
</div>