{# Spacing Visual
 *
 * Shows spacer sizes.
#}
<h2 class="h2 mt-md mb-xs" id="spacing">Spacing</h2>
<p class="body-lg mt-zero">tokens/src/spacer.tokens.json</p>
<hr class="mt-sm mb-sm">
<h3 class="h3 mt-md mb-sm">Variables</h3>
<p class="body-sm">All of the margin, padding and height classes use generated from these base values. The are also
  available as css variables.</p>
<p class="body-sm my-md">--spacer-[size]</p>
<div>
  <div class="bg-grey-dk inline-block h-px w-1/4"></div>
  <p class="body-sm inline-block ml-base w-md"><strong>PX</strong></p>
  <p class="body-sm inline-block ml-base">1px (1px)</p>
</div>
<div>
  <div class="bg-grey-dk inline-block h-3xs w-1/4"></div>
  <p class="body-sm inline-block ml-base w-md"><strong>3XS</strong> </p>
  <p class="body-sm inline-block ml-base">.25rem (4px)</p>
</div>
<div>
  <div class="bg-grey-dk inline-block h-2xs w-1/4"></div>
  <p class="body-sm inline-block ml-base w-md"><strong>2XS</strong></p>
  <p class="body-sm inline-block ml-base">.5rem (8px)</p>
</div>
<div>
  <div class="bg-grey-dk inline-block h-xs w-1/4"></div>
  <p class="body-sm inline-block ml-base w-md"><strong>XS</strong></p>
  <p class="body-sm inline-block ml-base">1rem (16px)</p>
</div>
<div>
  <div class="bg-grey-dk inline-block h-sm w-1/4"></div>
  <p class="body-sm inline-block ml-base w-md"><strong>SM</strong></p>
  <p class="body-sm inline-block ml-base">1.5rem (20px)</p>
</div>
<div>
  <div class="bg-grey-dk inline-block h-md w-1/4"></div>
  <p class="body-sm inline-block ml-base w-md"><strong>MD</strong></p>
  <p class="body-sm inline-block ml-base">2rem (32px)</p>
</div>
<div>
  <div class="bg-grey-dk inline-block h-lg w-1/4"></div>
  <p class="body-sm inline-block ml-base w-md"><strong>LG</strong></p>
  <p class="body-sm inline-block ml-base">3rem (48px)</p>
</div>
<div>
  <div class="bg-grey-dk inline-block h-xl w-1/4"></div>
  <p class="body-sm inline-block ml-base w-md"><strong>XL</strong></p>
  <p class="body-sm inline-block ml-base">4rem (64px)</p>
</div>
<div>
  <div class="bg-grey-dk inline-block h-2xl w-1/4"></div>
  <p class="body-sm inline-block ml-base w-md"><strong>2XL</strong></p>
  <p class="body-sm inline-block ml-base">6rem (96px)</p>
</div>
<div>
  <div class="bg-grey-dk inline-block h-3xl w-1/4"></div>
  <p class="body-sm inline-block ml-base w-md"><strong>3XL</strong></p>
  <p class="body-sm inline-block ml-base">8.125rem (130px)</p>
</div>
<div>
  <div class="bg-grey-dk inline-block h-4xl w-1/4"></div>
  <p class="body-sm inline-block ml-base w-md"><strong>4XL</strong></p>
  <p class="body-sm inline-block ml-base">10rem (160px)</p>
</div>
