{# Common Utilities
 *
 * Commonly used Tailwind classes.
#}

<h2 class="h2 mt-md mb-xs" id="commoncss">Utilities</h2>
<a href="https://tailwindcss.com/docs/display" class="body-lg block mb-md">Tailwind docs for all
  utilities ></a>
<div class="ts-grid-col-3">
  <div>
    <ul>
      <li class="h4 mb-2xs">Display</li>
      <li>.block</li>
      <li>.inline</li>
      <li>.inline-block</li>
      <li>.flex</li>
    </ul>

    <ul>
      <li class="h4 mt-md mb-2xs">Position</li>
      <li>.absolute</li>
      <li>.relative</li>
    </ul>
  </div>

  <div>
    <ul>
      <li class="h4 mb-2xs">Text transform</li>
      <li class="capitalize">.capitalize</li>
      <li class="lowercase">.LOWERCASE</li>
      <li class="uppercase">.uppercase</li>
    </ul>
    <ul>
      <li class="h4 mt-md mb-2xs">Text align</li>
      <li class="text-left">.text-left></li>
      <li class="text-center">.text-center</li>
      <li class="text-right">.text-right></li>
    </ul>
  </div>

  <ul>
    <li class="h4 mb-2xs">Additional</li>
    <li class="hyphenate">.hyphenate</li>
    <li class="letter-spacing">.letter-spacing</li>
  </ul>