
:root {
	/* White background colorway is default. */
	--primary: var(--color-purple-900);
	--secondary: var(--color-neutral-800);
	--action: var(--color-purple-500);

	/* Button solid */
	--btn-solid--bg: var(--color-purple-900);
	--btn-solid--bg--hover: var(--color-purple-100);
	--btn-solid--border: var(--primary);
	--btn-solid--text: var(--color-white);
	--btn-solid--text--hover: var(--color-primary);
	--btn-solid--svg: var(--btn-solid--text);
	--btn-solid--svg--hover: var(--btn-solid--text--hover);

	/* Button outline */
	--btn-outline--bg: transparent;
	--btn-outline--bg--hover: var(--color-purple-100);
	--btn-outline--border: var(--color-purple-100);
	--btn-outline--text: var(--color-purple-900);
	--btn-outline--text--hover: var(--color-purple-900);
	--btn-outline--svg: var(--btn-outline--text);
	--btn-outline--svg--hover: var(--btn-outline--text--hover);
}

.colorway-card {
	@apply bg-neutral-100;
}

.colorway-white,
.wp-block-post-content.block-editor-block-list__layout {
	background-color: var(--color-white);
	--primary: var(--color-purple-900);
	--secondary: var(--color-neutral-800);
	--action: var(--color-purple-500);

	--btn-solid--bg: var(--color-purple-900);
	--btn-solid--bg--hover: var(--color-purple-100);
	--btn-solid--outline: var(--color-white);
	--btn-solid--text: var(--color-white);
	--btn-solid--text--hover: var(--color-purple-900);
	--btn-solid--svg: var(--btn-solid--text);
	--btn-solid--svg--hover: var(--btn-solid--text--hover);

	--btn-outline--bg: var(--color-white);
	--btn-outline--bg--hover: var(--color-purple-100);
	--btn-outline--border: var(--color-purple-900);
	--btn-outline--text: var(--color-purple-900);
	--btn-outline--text--hover: var(--color-purple-900);
	--btn-outline--svg: var(--btn-outline--text);
	--btn-outline--svg--hover: var(--btn-outline--text--hover);
}

.colorway-dark {
	background-color: var(--color-purple-900);
	--primary: var(--color-white);
	--secondary: var(--color-neutral-200);
	--action: var(--color-purple-100);

	--btn-solid--bg: var(--color-white);
	--btn-solid--bg--hover: var(--color-purple-100);
	--btn-solid--outline: var(--color-white);
	--btn-solid--text: var(--color-purple-900);
	--btn-solid--text--hover: var(--color-purple-900);
	--btn-solid--svg: var(--btn-solid--text);
	--btn-solid--svg--hover: var(--btn-solid--text--hover);

	--btn-outline--bg: var(--color-purple-900);
	--btn-outline--bg--hover: var(--color-purple-100);
	--btn-outline--border: var(--color-white);
	--btn-outline--text: var(--color-white);
	--btn-outline--text--hover: var(--color-purple-900);
	--btn-outline--svg: var(--color-white);
	--btn-outline--svg--hover: var(--color-purple-900);
}

.colorway-light {
	/* background-color: var(--color-purple-50); */

	--btn-solid--bg: var(--color-purple-900);
	--btn-solid--bg--hover: var(--color-purple-100);
	--btn-solid--outline: var(--color-white);
	--btn-solid--text: var(--color-white);
	--btn-solid--text--hover: var(--color-purple-900);
	--btn-solid--svg: var(--btn-solid--text);
	--btn-solid--svg--hover: var(--btn-solid--text--hover);

	--btn-outline--bg: var(--color-white);
	--btn-outline--bg--hover: var(--color-purple-100);
	--btn-outline--border: var(--color-purple-900);
	--btn-outline--text: var(--color-purple-900);
	--btn-outline--text--hover: var(--color-purple-900);
	--btn-outline--svg: var(--btn-outline--text);
	--btn-outline--svg--hover: var(--btn-outline--text--hover);
}

.colorway-neutral-100 {
	background-color: var(--color-neutral-100);
	--primary: var(--color-purple-900);
	--secondary: var(--color-neutral-800);
	--action: var(--color-purple-700);

	--btn-solid--bg: var(--color-purple-900);
	--btn-solid--bg--hover: var(--color-purple-100);
	--btn-solid--outline: var(--color-white);
	--btn-solid--text: var(--color-white);
	--btn-solid--text--hover: var(--color-purple-900);
	--btn-solid--svg: var(--btn-solid--text);
	--btn-solid--svg--hover: var(--btn-solid--text--hover);

	--btn-outline--bg: var(--color-white);
	--btn-outline--bg--hover: var(--color-purple-900);
	--btn-outline--border: var(--color-purple-900);
	--btn-outline--text: var(--color-purple-900);
	--btn-outline--text--hover: var(--color-purple-900);
	--btn-outline--svg: var(--btn-outline--text);
	--btn-outline--svg--hover: var(--btn-outline--text--hover);
}

*[class*="colorway-"] {
	.color-primary {
		color: var(--primary);
	}
	.color-secondary {
		color: var(--secondary);
	}
	.color-tertiary {
		color: var(--secondary);
	}
	.color-action {
		color: var(--action);
	}
}
