/*
 * @file
 *
 * Button Wayfinding CSS File
 *
*/

.btn-wayfinding {
	color: var(--color-high-contrast);
	font-family: var(--font-family-sans);
	font-size: 1.125rem;
	font-weight: var(--font-weight-bold);
	padding-bottom: var(--spacer-xs);
	transition: color var(--transition-default);
}
.btn-wayfinding	svg {
	height: var(--spacer-sm);
	width: var(--spacer-sm);
}
.btn-wayfinding path {
	fill: var(--color-high-contrast);
}
.btn-wayfinding:hover,
.btn-wayfinding:focus {
	color: var(--color-action);
	text-decoration: none;
}
.btn-wayfinding:hover svg path,
.btn-wayfinding:focus svg path {
	fill: var(--color-action);
}
