#page-not-found {
  .container__inner {
    &:after {
      content: "404";
      left: 50%;
      transform: translateX(-50%);
      top: 50%;
      @apply opacity-50 absolute text-neutral-800;
    }
  }
}
