.pattern-overview-page {
	--color-pattern-grey: #f3f2f2;
}

.pattern-page-title {
	font-size: 1.5rem;
}
.pattern--sidebar-nav {
	a {
		color: var(--color-grey-700);
		display: block;
		font-size: .875rem;
		font-weight: var(--font-weight-bold);
		line-height: 1.3;
		padding: .5rem 1rem;
	}
	a:hover {
		background-color: var(--color-pattern-grey)
	}
}

.pattern-preview__label {
	font-size: 4rem;
	font-weight: lighter;
}

.pattern-preview__description {
	font-size: 1.5rem;
}
/* Hide fields on overview page */
.pattern-overview-page .pattern-preview__fields {
	display: none;
}
.pattern-preview__fields {
	background: var(--color-pattern-grey);
	margin-bottom: 2rem;
}

.pattern-preview {
	margin-bottom: 4rem;
}

.pattern-preview__preview legend {
	font-size: 1.5rem;
	font-weight: bold;
}

.pattern-preview__markup {
	border: 1px dashed lightgrey;
	margin-top: 1rem;
	margin-bottom: 4rem;
	padding: 2rem 1rem 1rem;
}
@media (min-width:769px) {
	.pattern-preview__markup {
		padding: 2rem 2rem 1rem;
	}
}


.pattern-overview-page hr {
	margin: 2rem 0 2rem 350px;
	border-color: lightgrey;
}

.pattern-preview__view,
.btn--copy-template {
	color: var(--color-action);
	font-weight: bold;
	margin-top: 1rem;
}

.pattern-preview__variants th {
	visibility: hidden;
}
.pattern-preview__preview table {
	width: auto;
}
.pattern-preview__preview td:first-of-type {
	font-size: 1.5rem;
}

.ts-pattern-code {
	font-family: 'Courier New', Monospace;
	font-weight: bold;
}