/*
 * @file
------------------------------------------------------------------------------------------------------------------------
                                         ____    ____         _    _     ___
                                        |_   \  /   _|       / |_ (_)  .' ..]
                                          |   \/   |   .--. `| |-'__  _| |_
                                          | |\  /| | / .'`\ \| | [  |'-| |-'
                                         _| |_\/_| |_| \__. || |, | |  | |
                                        |_____||_____|'.__.' \__/[___][___]
------------------------------------------------------------------------------------------------------------------------
Styleguide CSS File
------------------------------------------------------------------------------------------------------------------------
*/

@media (--md) {
  .styleguide-nav {
    position: fixed;
    border-right: 1px solid var(--color-gray-lt);
    height: 100%;
    width: 280px;
    left: 0;
    top: 0;
  }
  .styleguide-menu-padding {
    padding-left: 330px;
  }
}

.styleguide-nav a {
  border-left: 3px solid transparent;
  display: block;
  width: 100%;
}

.styleguide-nav a:hover,
.styleguide-nav a:focus {
  background-color: var(--color-gray-lt);
  border-left-color: var(--color-gray-dk);
  transition: background-color ease-in-out 300ms;
}

.bg-demo-m {
  background-color: peachpuff;
}

.bg-demo-p {
  background-color: darkseagreen;
}

.bg-demo-element {
  background-color: lightblue;
}
