@media (min-width: 769px) {
  .styleguide-nav {
    border-right: 1px solid var(--color-gray-lt);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 280px;
  }
  .styleguide-menu-padding {
    padding-left: 330px;
  }
}

.styleguide-nav a {
  border-left: 3px solid transparent;
  display: block;
  width: 100%;
}

.styleguide-nav a:hover,
.styleguide-nav a:focus {
  background-color: var(--color-gray-lt);
  border-left-color: var(--color-gray-dk);
}

.bg-demo-m {
  background-color: peachpuff;
}

.bg-demo-p {
  background-color: darkseagreen;
}

.bg-demo-element {
  background-color: lightblue;
}
