/*
 * @file
 *
 * WYSIWYG CSS File
*/

 /* wysiwyg styles */
.wysiwyg-wrapper {

  h2 {
    @apply mt-lg mb-sm;
    & + h3 {
      margin-top: 0;
    }
  }

  h3 {
    @apply mb-0;
    & + p {
      margin-top: var(--spacer-2xs);
    }
  }

  h4,
  h5,
  h6 {
    @apply mb-0;
    & + p {
      margin-top: var(--spacer-2xs);
    }
  }

  p + h2,
  p + h3,
  p + h4,
  p + h5,
  p + h6 {
    @apply mt-lg;
  }

  ul,
  ol {
    @apply pl-md;
  }

  ol li {
    text-align: left;
    @apply pl-sm;

    &::marker {
      color: var(--color-gray-dk);
      font-weight: var(--font-weight-semibold);
      padding-left: var(--spacer-xs);
    }
  }

  ul li {
    @apply block relative;

    &::before {
      content: "\f105";
      color: var(--color-gray-dk);
      display: inline-block;
      font-family: "FontAwesome";
      font-weight: var(--font-weight-regular);
      left: -25px;
      position: absolute;
      top: 0;
    }

    ul {
      @apply pt-sm;
    }

    ul li::before {
      content: "•";
    }
  }

  hr {
    @apply mt-sm mb-sm;
  }

  /* Image and Media styles */
  figure.caption,
  article.media {
    margin: 0;

    &.media--view-mode-inline-half-image img {
      height: auto;
    }
  }

  .align-center {
    text-align: center;
  }

  .align-left {
    @apply md:pr-sm text-left;
  }
  .align-right {
    @apply md:pl-sm text-right;
  }

  .field--name-field-media-oembed-video {
    .field__item {
      height: 0;
      padding-bottom: 56.25%; /* 16:9 */
      position: relative;
    }

    iframe {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.field--name-field-text-long-formatted > p:first-of-type {
  margin-top: 0;
}
