:root {
  --transition-default: all 300ms ease-in-out;
  --color-black: #000000;
  --color-white: #ffffff;
  --color-gray-lt: #ededed;
  --color-gray-dk: #444444;
  --grid-gap: 0.5rem;
  --opacity-0: 0;
  --opacity-1: 1;
  --opacity-02: 0.2;
  --opacity-05: 0.5;
  --screen-default: 0px;
  --screen-sm: 501px;
  --screen-md: 769px;
  --screen-lg: 1025px;
  --screen-xl: 1442px;
  --screen-2xl: 2000px;
  --screen-site-max-width: 2000px;
  --spacer-0: 0;
  --spacer-px: 1px;
  --spacer-3xs: 0.125rem;
  --spacer-2xs: 0.25rem;
  --spacer-xs: 0.5rem;
  --spacer-sm: 0.75rem;
  --spacer-base: 1rem;
  --spacer-md: 1.25rem;
  --spacer-lg: 1.5rem;
  --spacer-xl: 2rem;
  --spacer-2xl: 3rem;
  --spacer-3xl: 4rem;
  --spacer-4xl: 6rem;
  --spacer-gutter: 1rem;
  --font-weight-book: 300;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-family-serif: "Geller Headline", Times, serif;
  --font-family-sans: "Halyard Text", Helvetica, Arial, sans-serif;
  --z-index-0: 0;
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
}
