/*
 * @file
------------------------------------------------------------------------------------------------------------------------
                                         ____    ____         _    _     ___
                                        |_   \  /   _|       / |_ (_)  .' ..]
                                          |   \/   |   .--. `| |-'__  _| |_
                                          | |\  /| | / .'`\ \| | [  |'-| |-'
                                         _| |_\/_| |_| \__. || |, | |  | |
                                        |_____||_____|'.__.' \__/[___][___]
------------------------------------------------------------------------------------------------------------------------
HTML Overrides CSS File
------------------------------------------------------------------------------------------------------------------------
*/

@custom-media --bp-sm (min-width: 501px);
@custom-media --bp-md (min-width: 769px);
@custom-media --bp-lg (min-width: 1025px);
@custom-media --bp-xl (min-width: 1442px);
@custom-media --bp-2xl (min-width: 2000px);
@custom-media --reduce-motion (prefers-reduced-motion: reduce);

html {
  background-color: var(--color-gray-lt);
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  font-family: var(--font-family-sans);
  font-weight: var(--font-weight-light);
  line-height: var(--line-height-normal);
  font-style: normal;
  max-width: var(--screen-site-max-width);
  min-height: 100vh;
  background-color: var(--color-white);
  margin-inline: auto;
  @media (--bp-2xl) {
    padding-right: var(--spacer-base);
    padding-left: var(--spacer-base);
  }
}

strong {
  @apply font-bold;
}

/*
 * Form Styles
 */
fieldset {
  border: unset;
}

input {
  font-size: var(--font-size-base);
  line-height: var(--line-height-normal);
  font-weight: var(--font-weight-book);
}

/*
 * Tabular Data Styles
 */
table {
  text-align: left;
  width: 100%;
}

td,
th {
  padding: var(--spacer-2xs) var(--spacer-xs);

  @media (--bp-md) {
    padding: var(--spacer-xs) var(--spacer-sm);
  }
}

/*
 * Reduce Animations for Those that Prefer It
 */
@media (--reduce-motion) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
