<div class="event-listing">
  <p class="mb-xs tag text-blue-300">On-demand event</p>
  <h3 class="headline-sm mb-xl">Korea Chair "The Capital Cable" #14 with Joel Johnson and Christopher Hill</h3>
  <div class="">
    <p class="body-sm">Today, 5 November 2020</p>
    <p class="body-sm">9:30 &#8212; 11:00 a.m. EST</p>
    <p class="body-sm">Online</p>
  </div>
</div>
