<div class="listing-4-up py-2xl">
  <div class="container">
    <h2 class="section-header inline-block">The Latest</h2><a href="/all" class="inline-block link-read-more
    float-right">See all</a>
    <hr class="hr-black my-md">
    <div class="grid-col-4">
      {% include('@ts_motif/_samples/listing-column-simple.html.twig') %}
      {% include('@ts_motif/_samples/listing-column-simple.html.twig') %}
      {% include('@ts_motif/_samples/listing-column-simple.html.twig') %}
      {% include('@ts_motif/_samples/listing-column-simple.html.twig') %}
    </div>
  </div>
</div>
