<div class="listing-column-card">
  <h2 class="section-header">Spotlight on <strong class="block"><a href="">South America</a></strong></h2>
  <hr class="hr-black my-md">
  {% include('@ts_motif/_samples/article-listing.html.twig') %}
  {% include('@ts_motif/_samples/article-listing.html.twig') %}
  {% include('@ts_motif/_samples/article-listing.html.twig') %}
  {% include('@ts_motif/_samples/article-listing.html.twig') %}
</div>
