<div class="listing-column-card">
  <h2 class="body"><strong>Defense & Security</strong></h2>
  {% include('@ts_motif/_samples/article-featured.html.twig') %}
  {% include('@ts_motif/_samples/article-simple.html.twig') %}
  {% include('@ts_motif/_samples/article-simple.html.twig') %}
  {% include('@ts_motif/_samples/article-simple.html.twig') %}
</div>
