<div class="container content-side-padding">
  <h2 class="h2 mb-sm">Sample 3-up cards</h2>
  <div class="grid grid-col-3">
    <div class="m-card">
      <p class="h4 mt-zero mb-sm">Webinar</p>
      <h3 class="h3 mb-sm"><a href=" ">Friday Morning Refresh — Session 5</a></h3>
      <p class="body-sm my-2xs">May 28, 2020</p>
      <p class="body-sm my-zero">8:30am–9:30am</p>
    </div>

    <div class="m-card">
      <p class="h4 mt-zero mb-sm">Blog Type <span>.</span> Month</p>
      <h3 class="h3 mb-sm">
        <a href=" ">
          Blog Title Lorem ipsum dolor sit consectetur adipisci sed do
        </a>
      </h3>
      <p class="body-sm">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      </p>
    </div>
    <div class="m-card">
      <p class="h4 mt-zero mb-sm">Action Type <span>.</span> Month 00, 2020</p>
      <h3 class="h3 mb-sm">
        <a href=" ">
          Foster Together Conference Series: Caregiving from the Other Side — Q&A Featuring Current and Former Youth in Care
        </a>
      </h3>
      <p class="body-sm my-2xs">May 28, 2020</p>
      <p class="body-sm my-zero">8:30am–9:30am</p>
    </div>
  </div>
</div>
