<footer class="bg-grey-dk pt-md pb-sm text-white">
  <div class="container content-side-padding">
    <div class="grid grid-col-3">
      <nav class="inline-block-md">
        <ul class="">
          <li class="mb-xs"><a href=" " class="text-nav">About Us</a></li>
          <li class="mb-xs"><a href=" " class="text-nav">Events & Resources</a></li>
          <li class="mb-xs"><a href=" " class="text-nav">Peer Groups</a></li>
          <li class="mb-xs"><a href=" " class="text-nav">Collaborations</a></li>
          <li class="mb-xs"><a href=" " class="text-nav">Public Policy</a></li>
          <li class="mb-xs"><a href=" " class="text-nav">Stories & Ideas</a></li>
        </ul>
      </nav>
      <nav class="inline-block-md">
        <ul class="">
          <li class="mb-xs"><a href=" " class="text-nav">Job Board</a></li>
          <li class="mb-xs"><a href=" " class="text-nav">Member Portal</a></li>
          <li class="mb-xs"><a href=" " class="text-nav">Membership</a></li>
          <li class="mb-xs"><a href=" " class="text-nav">FAQs</a></li>
          <li class="mb-xs"><a href=" " class="text-nav">Contact Us</a></li>
          <li class="mb-xs"><a href=" " class="text-nav">Mailing List</a></li>
        </ul>
      </nav>
      <div class="inline-block-md body-sm">
        <p class="mb-zero">123 Placeholder Street, Suite 230</p>
        <p class="mb-zero">City, ST 12345</p>
        <a href="tel:1234567890" class="block mb-zero">Tel: (123) 456‐7890</a>
        <a href="emailto:info@thinkshout.org">info@socalgrantmakers.org</a>
      </div>
    </div>
  </div>
  <hr class="hr-white mt-sm ">
  <div class="body-sm container content-side-padding text-right">
    <p class="inline-block mr-sm">©{{ 'now' | date('Y') }} ThinkShout, All rights reserved.</p>
    <p class="inline-block">Privacy Policy & Terms of Use</p>
  </div>
</footer>
