{# Sample 2-up Card #}

{% set title = title ?? "Sample 2-up cards" %}
{% set intro = intro ?? "Intro text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis elit non odio." %}
{% set link_url = link_url ?? " " %}
{% set link_text = link_text ?? "optional link" %}
{% set block_class = "sample--2-up" %}
{% extends "@ts_motif/_samples/section-title-link.html.twig" %}

{% block content %}
  <div class="ts-grid-col-2">
    {% include "@ts_motif/_samples/card-md.html.twig" %}
    {% include "@ts_motif/_samples/card-md.html.twig" %}
  </div>
{% endblock %}
