{# Sample Listing #}
<div>
  <p class="h4 mt-sm mb-zero">Resource Type | Month</p>
  <h3 class="mb-sm mt-zero">
    <a href=" " class="h3 black">
      Blog Title Lorem ipsum dolor sit consectetur adipisci sed do
    </a>
  </h3>
  <div class="body-sm">
    <p class="mb-2xs">Equity and Social Justice</p>
    <p class="inline-md mr-sm my-2xs">Geographic Focus</p>
    <p class="inline-md my-zero">Skill Building</p>
  </div>
  <hr class="mt-md">
</div>
