<div class="container content-side-padding">
  <h2 id="wysiwygstyles" class="h2 mb-sm black">WYSIWYG and Components</h2>
  <div class="wysiwyg-wrapper">
    <h2>h2</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis elit non odio consectetur in massa. Vestibulum sagittis in viverra volutpat ultricies id. Elit potenti tellus massa ullamcorper cursus. Accumsan, aliquam odio egestas at laoreet. Mauris sed diam fringilla nunc tempor massa pellentesque et risus. Et duis dictum sit porttitor blandit. Lectus quam suscipit suspendisse at fusce velit velit in elementum.</p>

    <h3>h3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis elit non odio consectetur in massa. Vestibulum sagittis in viverra volutpat ultricies id. Elit potenti tellus massa ullamcorper cursus. Accumsan, aliquam odio egestas at laoreet. Mauris sed diam fringilla nunc tempor massa pellentesque et risus. Et duis dictum sit porttitor blandit. Lectus quam suscipit suspendisse at fusce velit velit in elementum.</p>

    <h4>h4</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis elit non odio consectetur in massa. Vestibulum sagittis in viverra volutpat ultricies id. Elit potenti tellus massa ullamcorper cursus. Accumsan, aliquam odio egestas at laoreet. Mauris sed diam fringilla nunc tempor massa pellentesque et risus. Et duis dictum sit porttitor blandit. Lectus quam suscipit suspendisse at fusce velit velit in elementum.</p>

    <h5>h5</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis elit non odio consectetur in massa. Vestibulum sagittis in viverra volutpat ultricies id. Elit potenti tellus massa ullamcorper cursus. Accumsan, aliquam odio egestas at laoreet. Mauris sed diam fringilla nunc tempor massa pellentesque et risus. Et duis dictum sit porttitor blandit. Lectus quam suscipit suspendisse at fusce velit velit in elementum.</p>

    <h6>h6</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis elit non odio consectetur in massa. Vestibulum sagittis in viverra volutpat ultricies id. Elit potenti tellus massa ullamcorper cursus. Accumsan, aliquam odio egestas at laoreet. Mauris sed diam fringilla nunc tempor massa pellentesque et risus. Et duis dictum sit porttitor blandit. Lectus quam suscipit suspendisse at fusce velit velit in elementum.</p>

    <h2>h2</h2>
    <h3>h3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Felis elit non odio consectetur in massa. Vestibulum sagittis in viverra volutpat ultricies id. Elit potenti tellus massa ullamcorper cursus. Accumsan, aliquam odio egestas at laoreet. Mauris sed diam fringilla nunc tempor massa pellentesque et risus. Et duis dictum sit porttitor blandit. Lectus quam suscipit suspendisse at fusce velit velit in elementum.</p>

    <ul>
      <li>The Philanthropic Initiative for Racial Equity’s Grantmaking with a Racial Justice Lens
        Guide lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
      <li>
        NCRP’s Power Moves: Your essential philanthropy assessment guide for equity and justice
        <ul>
          <li>SCG’s Evaluating Your Internal Practices to Become an Anti-Racist Organization
          </li>
          <li>And many other immediate resources</li>
        </ul>
      </li>
    </ul>
    <ol>
      <li>Emerging systems change efforts</li>
      <li>Start their advocacy efforts</li>
      <li>Support our democratic institutions</li>
      <li>Shift power to the next generation of donors</li>
    </ol>
    <blockquote class="blockquote">
      <p>Blockquote Every day, we have a choice. We can take the easier road, the more cynical road, which is
        a role sometimes based on a dream of a past that never was. Fear of each other
        distancing and blame, or we can take the much more difficult path, the road of
        transformation, transcendence, compassion, and love, but also accountability and
        justice.</p>
      <cite>Author Jacqueline Novogratz, Founder and CEO of Acumen</cite>
    </blockquote>
  </div>
</div> {# Closes .container #}
