<div class="py-4xl relative text-white z-0">
  <span class="bg-overlay-black"></span>
  <div class="container content-side-padding relative z-2">
    <div class="w-75-md">
      <blockquote>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tellus, mattis magnis quis erat eu, feugiat. Tellus sed et maecenas at dolor viverra feugiat id. Velit, duis in tincidunt in blandit facilisi. Erat nibh tellus sit sed eu, mi faucibus lectus. In ultrices sagittis, ultrices dictum elit non blandit.
      </blockquote>
      <p class="h3">First Name, Last Name</p>
      <p class="body-md">Title</p>
      <a href=" " class="button-solid">Link One</a>
    </div>
  </div>
</div>
