<div class="spotlight-card-lg-hz grid-col-2">
  <div class="bg-gray-dk h-3xl"></div>
  <div>
    <h3 class="headline-lg mb-base">Spotlight Card Lg Horizontal</h3>
    <p class="body-lg">Teaser text goes here</p>
  </div>
</div>
