<div class="spotlight-layout-1 bg-black text-white py-2xl">
  <div class="container">
    <h2 class="section-header mb-md">Flexible Spotlight Title with <a href="#">Link High Resolution</a></h2>
    {% include('@ts_motif/_samples/spotlight-card-lg-hz.html.twig') %}
    <div class="grid-col-3 mt-md">
      {% include('@ts_motif/_samples/spotlight-card-sm.html.twig') %}
      {% include('@ts_motif/_samples/spotlight-card-sm.html.twig') %}
      {% include('@ts_motif/_samples/spotlight-card-sm.html.twig') %}
    </div>
    <a href="#" class="block link-chevron link-chevron--on-dk mt-xl text-right">Optional text button</a>
  </div>
</div>
