<div class="spotlight-card-sm">
  <div class="bg-gray-dk h-3xl">
  </div>
  <p class="tag mt-xs">Primary tag</p>
  <h3 class="headline-sm mt-sm">Spotlight card small</h3>
  <p class="author-byline mt-sm">Report by <strong>Rachel Ellehuus</strong>, <strong>Colin Wall</strong></p>
</div>
