<div class="spotlight-card-lg-vrt">
  <div class="bg-gray-dk img-550x335"></div>
  <p class="credit mb-xl">Credit: Mattis Porta Tellus</p>
  <div>
    <p class="tag">primary tag</p>
    <h3 class="headline-lg mb-sm">Spotlight Card Lg Vertical</h3>
    <p class="teaser">Teaser text goes here</p>
    <p class="author-byline mt-md">Report by <strong>Rachel Ellehuus</strong>, <strong>Colin Wall</strong></p>
  </div>
</div>
