<div class="spotlight-3-up container">
  <div class="grid-col-3 py-2xl">
    {% include('@ts_motif/_samples/listing-column-card.html.twig') %}
    {% include('@ts_motif/_samples/listing-column-card.html.twig') %}
    {% include('@ts_motif/_samples/listing-column-card.html.twig') %}
  </div>
</div>
