<div class="upcoming-events bg-blue-700 py-2xl text-white">
  <div class="container">
    <h2 class="section-header">Upcoming Events</h2>
    <hr class="hr-white mt-sm mb-xl">
    <div class="grid grid-cols-4">
      {% include('@ts_motif/_samples/event-listing.html.twig') %}
      {% include('@ts_motif/_samples/event-listing.html.twig') %}
      {% include('@ts_motif/_samples/event-listing.html.twig') %}
      {% include('@ts_motif/_samples/event-listing.html.twig') %}
    </div>
  </div>
</div>
