/* Zoom on image on hover */
.ts-hocus-scale img {
	transition: transform 400ms ease-in-out;
}
.ts-hocus-scale:hover img {
	transform: scale(1.02);
}

/* Shadow */
.hocus-card-shadow {
	transition: var(--transition-default);
}
.hocus-card-shadow:hover {
	box-shadow: 0 6px 20px -4px rgba(0, 0, 0, 0.10);
}

/* Card hover/focus style */
.card-overlay-link:hover + .card-title-hocus,
.card-title-hocus:focus {
	text-decoration: underline;
	text-underline-offset: var(--spacer-1);
	transition: all var(--transition-default);
}

/* Underline */
.hocus-underline {
	transition: var(--transition-default);
}
.hocus-underline {
	@apply hover:underline focus:underline underline-offset-4;
}

/* Action color text */
.hocus-action {
	transition: var(--transition-default);
}
.hocus-action:hover,
.hocus-action:focus {
	color: var(--color-action);
}


