/*
 * @file
Button Links CSS File
*/

/* Constants for buttons styles */
.btn {
  --btn-font-size-xs: var(--spacer-sm);
  --btn-font-size-sm: var(--spacer-base);
  --btn-font-size: var(--font-size-lg);
  --btn-font-family: var(--font-family-sans);
  --btn-weight: var(--font-weight-semibold);
}

.link-chevron,
.link-back,
.btn-outline,
.btn-tag,
.btn-solid {
  font-family: var(--btn-font-family);
  font-size: var(--btn-font-size-sm);
  font-weight: var(--btn-weight);

  @media (--bp-md) {
    font-size: var(--btn-font-size);
  }
}

.link-back {
  line-height: var(--line-height-snug);
  padding-left: var(--spacer-lg);

  & svg {
    @apply left-0;
  }
}

.link-chevron {
  @apply font-bold;
  font-size: 15px;
  line-height: var(--line-height-snug);
  padding-right: var(--spacer-lg);
  & svg {
    @apply right-0;
  }
}

.link-chevron--on-dk {
  color: var(--color-blue-400);
}

a.btn-outline,
.btn-outline a {
  background-color: transparent;
  /* @TODO DS Override. */
  border-radius: 30px;
  line-height: var(--line-height-none);
  border: 1px solid var(--color-black);
  @apply no-underline py-xs px-sm text-black;
}

.btn-tag,
a.btn-tag {
  border: 1px solid;
  font-size: var(--btn-font-size-xs);
  line-height: var(--line-height-snug);
  padding: var(--spacer-2xs) var(--spacer-base);
  text-decoration: none;
  @apply bg-gray-lt uppercase no-underline;

  @media (--bp-md) {
    font-size: var(--btn-font-size-sm);
  }
}

.btn-solid,
a.btn-solid {
  border: 1px solid;
  border-radius: 30px;
  text-decoration: none;
  @apply bg-black no-underline px-sm py-xs text-white transition-all;
}

.btn-close:hover,
.btn-close:focus {
  /* @TODO DS Override. */
  border-bottom: 1px solid;
  transition: var(--transition-default);
}

.btn-social-links {
  & ul li {
    @apply inline-block mx-xs my-0;
    & a {
      @apply border-b-0;
    }
  }
}

.link-style a,
a.link-style {
  border-bottom: 1px solid transparent;

  &.is-active {
    border-bottom: 1px solid var(--color-black);
  }
}

.icon-search {
  @apply h-sm;
}

.btn-search {
  border-radius: 30px;
  @apply bg-gray-lt pt-xs px-xs pb-2xs transition-all focus:bg-gray-dk hover:bg-gray-dk;
}
