/*
 * @file
 *
 * Button Links CSS File
 *
*/

.btn-wayfinding {
	@apply font-bold pb-xs;
	color: var(--color-high-contrast);
	font-family: var(--font-family-sans);
	font-size: 1.125rem;
	transition: color var(--transition-default);
	svg {
		@apply h-sm w-sm;
	}
	path {
		fill: var(--color-high-contrast);
	}
}
.btn-wayfinding:hover,
.btn-wayfinding:focus {
	color: var(--color-action);
	text-decoration: none;
	svg path {
		fill: var(--color-action);
	}
}
