.outline {
  /* @TODO DS Override. */
  border: 1px solid var(--color-gray-lt);
  border-radius: 10px;
}

/* Wrap with .relative, eg: Hero photo style */
.bg-overlay-black {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  opacity: var(--opacity-05);
  z-index: var(--z-index-2);
}

.hr-black {
  @apply border-black;
}

.hr-gray {
  @apply border-gray-500;
}

.hr-white {
  @apply border-white;
}

.hr-right--gray {
  @apply pr-md;
  border-right: 1px solid var(--color-gray-500);
}
