/*
 * Global Typography
 * Limit to: font-family, font-weight, font-size, line-height.
 *
 * See also components/wysiwyg.css for tag styles in text editor content.
*/

.h2,
.wysiwyg-wrapper h2 {
  @apply font-bold;
  font-family: var(--font-family-sans);
  font-size: 1.5625rem; /* 25px */
  line-height: var(--lh-10);

  @media (--bp-md) {
    font-size: 2.75rem; /* 44px */
  }
}
