/*
 * Global Typography
 * Limit to: font-family, font-weight, font-size, line-height.
 *
 * See also components/wysiwyg.css for tag styles in text editor content.
*/

.h1 {
	@apply font-regular;
	font-family: var(--font-family-sans);
	font-size: 90px;
	line-height: var(--lh-11);
}

.h2,
.wysiwyg-wrapper h2 {
  @apply font-bold;
  font-family: var(--font-family-sans);
  font-size: 1.5625rem; /* 25px */
  line-height: var(--lh-10);

  @media (--bp-md) {
    font-size: 2.75rem; /* 44px */
  }
}

.h3,
.wysiwyg-wrapper h3 {
	@apply font-bold;
	font-family: var(--font-family-sans);
	font-size: 2.5rem; /* 40px */
	line-height: var(--lh-10);
}

.h6,
.wysiwyg-wrapper h6 {
	@apply font-regular;
	font-family: var(--font-family-sans);
	font-size: 1.625rem; /* 26px */
	line-height: var(--lh-10);
}

.body {
	font-family: var(--font-family-sans);
	font-size: 1rem; /* 16px */
	line-height: var(--lh-13);
}
